body{
	background-color: thistle;
}

div#container{
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Amiko";
	}

h1#big_title{
	color: indigo;
	font-weight: bold;
	font-size: 40px;
}


h2{
	color: purple;
}

h3.semester{
	color: mediumpurple;
}

a:link{color: purple;}
a:hover{color: plum;}
a:visited{color: pink;}